<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/shards.min.css" />
</head>

<body>
    <form action="#" th:action="@{/users/add}" method="post" th:object="${user}">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}" placeholder="User name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:text="*{email}"
                placeholder="user email"></input>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select th:field="*{type}">
                <option id="type" name="type" th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
            </select>

            <!--   <textarea type=" text" class="form-control" id="type" name="type" th:text="${type}"
                    placeholder="Blog Post Content"></textarea> -->
        </div>
        <div class="form-group form-check">
            <label class="form-check-label" for="visible">birthDate</label>
            <input type="date" class="form-check-input" id="birthDate" name="birthDate">

        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select th:field="*{gender}">
                <option id="gender" th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
            </select>
        </div>
        <button type="submit" name="action" value="submit" class="btn btn-primary">Save user</button>
    </form>
</body>

</html>